body{
    background-color: red !important;
}
div{
    display:none !important;
}

h1{
    border:1px solid red !important;
}
h2{
    border:5px solid green !important;
}
h3{
    border:4px solid yellow !important;
}
h4{
    border:5px solid orange !important;
}
